@include font-face(OpenSans-Regular, "../fonts/OpenSans-Regular-webfont", 400, normal, eot woff ttf svg);
@include font-face(OpenSans-Bold, "../fonts/OpenSans-Bold-webfont", 700, normal, eot woff ttf svg);
@include font-face(OpenSans-Italic, "../fonts/OpenSans-Italic-webfont", 400, italic, eot woff ttf svg);
@include font-face(Baloo, "../fonts/Baloo-Regular-webfont", normal, normal, eot woff ttf svg);

$baloo: 'Baloo', sans-serif;
$ops-400: 'OpenSans-Regular', sans-serif;
$ops-700: 'OpenSans-Bold', sans-serif;
$ops-italic: 'OpenSans-Italic', sans-serif;

body{
	font-family: $ops-400;
}

h1,h2,h3,h4,h5,h6{
	font-family: $baloo;
}

p{
	font-family: $ops-400;
}
.btn.btn-primary{
	background-color: $sec_accent_color;
	border-color: $sec_accent_color;
}

// Header Style

#navbarNavDropdown{ 
	padding: 1em 0 0;
	.navbar-nav .nav-link{
		color: $links_color;
		&:hover{
			color: $hover_color;
			text-decoration: none;
		}
	} 
}

#searchform .input-group{
	top:5px;
	#s{
		height: calc(1.25em + .5rem + 10px);
	}
}
#searchsubmit{
	padding: .075rem .75rem;
	color: $darken_variant;
}

.navbar.mobile {
	padding: 0.5rem 0 0;
	.navbar-toggler{
		border-color: transparent;
		padding: .25rem 0;
		border-radius: 0;
		.navbar-toggler-icon{
			  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

		}
	}
	
	form#searchform,
	.free-delivery{
		width: 100%;
	}
	form#searchform{
		margin-top: 0.25em;
	}
	.free-delivery{
		position: relative;
		text-align: center;
		clip-path:none;	
		-webkit-clip-path:none;
		margin-top: 1em;
		padding: 0.5em;
		line-height: 1.25rem;
		.free-msg{
			font-size: 1.25rem;
			font-family: $baloo;
			color: $red_promo_banner_color;
			margin-bottom: 0;
			vertical-align: middle;
		}
		.del-msg{
			font-family: $ops-400;
			font-size: 0.85rem;
			line-height: 1.5;
			margin-bottom: 0;
			color: $links_color;
		}
	}
	.woo-btn{
		top: 10px;
		
	}
}

.navbar.mobile.navbar-expand-md>.container-fluid{
	padding-right: 1rem;
	padding-left: 1rem;
}


.free-delivery{
	background-color: $main_accent_color;
	text-align: right;
	position: absolute;
	top:0;
	right: 0;
	padding: 0.2em 1.5em 0.5em;
	clip-path:polygon(56px 266px,306px 265px,307px -4px,0px 0px);
	-webkit-clip-path:polygon(56px 266px,306px 265px,307px -4px,0px 0px);
	h4{
		color: $red_promo_banner_color;
		margin-bottom: 0;
		line-height: 1;
	}
	p{
		margin-bottom: 0;
		color: $links_color;
		font-size: 0.6875rem;
		line-height: 1;
	}
}
.woo-btn{
	position: relative;
	top: 40px;
	.flex-fill{
		a{
			color: $links_color;
			text-transform: capitalize;
			margin-right: 1.9em;
			font-size: 0.875rem;
			&:hover{
				color: $hover_color;
				text-decoration: none;	
			}
			&.basket-icon{
				margin-right: -.25em;
			}
			span.cart-contents-count.align-top{
				background-color: $sec_accent_color;
			    border-radius: 50%;
			    font-size: 0.55rem;
			    font-weight: 700;
			    width: 20px;
			    line-height: 20px;
			    text-align: center;
			    position: absolute;
			    top: 0;
			    right: 0;
			}
			span.cart-contents-count.align-top.empty{
				background-color: $social_footer;
			    border-radius: 50%;
			    font-size: 0.75rem;
			    font-weight: 700;
			    width: 20px;
			    line-height: 20px;
			    text-align: center;
			    position: absolute;
			    top: 0;
			    right: 0;
			}
		}
		.pt-shopping-bag:before{
			vertical-align: text-top;
		}
	}
}


// Footer Style

.top-of-page{
	background-color: $main_header_color;
	.text-center a{
		color: $links_color;
		text-transform: uppercase;
		&:hover{
			color: $hover_color;
			text-decoration: none;	
		}
	}
}

#wrapper-footer{
	background-color: $darken_variant;
	border-top:8px solid $main_header_color;
	padding-bottom: 15px;
	[class*=' col-']{ 
		li {
			list-style-type: none;
			h5{
				color: 	$links_color;
				font-weight: 400;
			}
			a{
				font-size: 0.875rem;
				color: $links_color;
				&:hover{
					color: $links_color;	
					text-decoration: underline;
				}
			}
		}
		address{
			font-size: 0.875rem;
			color: $links_color;
		}
		a{
			font-size: 0.875rem;
			color: $links_color;
			&:hover{
				color: $hover_color;
				text-decoration: none;
			}
		}
		p{
			font-size: 0.875rem;
			color: $links_color;
			margin-bottom: 0;
		}
	}
	.site-info{
		text-align: center;
		color: $links_color;
		font-size: 0.875rem;
		padding: 2em 0 0;
	}
}
.social-footer{
	background-color: $social_footer;
	padding: 1em 0;
	a{
		color: $links_color;
		margin-right: 2em;
		margin-left: 2em;
		font-size: 0.875rem;
		&:hover{
			color: $hover_color;
			text-decoration: none;
		}		
	}
}

// Woocommerce

.woocommerce div.product .product_title,
.woocommerce ul.products li.product a,
.woocommerce-loop-product__title{
	color: $sec_accent_color;
}
.woocommerce #customer_login .btn-outline-primary,
.woocommerce .return-to-shop .btn-outline-primary,
.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order,
.woocommerce .btn-outline-primary,
.woocommerce .coupon .btn-outline-primary,
.woocommerce .wc-proceed-to-checkout .btn.btn-primary,
.woocommerce .woocommerce-message .button,
#woocommerce-wrapper .btn-outline-primary{
	background-color: $main_accent_color;
	color: $links_color;
	border-color: $main_accent_color;
	&:hover{
		background-color: $hover_color;
		color: $links_color;
		border-color: $hover_color;
	}
	&:focus{
		outline: 0;
		box-shadow: none;
	}
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, 
.woocommerce div.product span.price{
	color: $main_accent_color;
}

.woocommerce-checkout h3{
	font-size: 1.25rem;
}

#ship-to-different-address-checkbox{
	margin-right: 0.5em;
}

.woocommerce .coupon input#coupon_code{
	font-size: 0.9rem;
	height: calc((1.5em + 0.75rem) + 5px);
}
.woocommerce form .form-row label.inline{
	width: 100%;
}
.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea{
	border: 1px solid #ccc;
	padding: 0.5em 1em;
}
.woocommerce .woocommerce-LostPassword.lost_password a:hover{
	color: $hover_color;
	text-decoration: none;
}

#woocommerce-product-search-field-0{
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}




// Responsiveness
@media (min-width: 768px){
	.navbar-expand-md .navbar-nav{
		.dropdown{
			position: inherit;
		}
		.dropdown-menu{
			background-color: $sub_menu_bg_color;
			width: 100%;
			top:110px;
			left: 0;
			right: 0;
			margin: 0 auto;
			text-align: center;
			border-radius: 0;
			border: 0;
			color: $main_header_color;
			li{
				display: inline-block;
				.dropdown-item{
					color: $main_header_color;
					font-size: 0.75rem;
					text-transform: capitalize;
					&:hover{
						background-color: transparent;
						color: $hover_color;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 576px){
	#wrapper-footer [class*=' col-'] ul{
		padding-inline-start:0;
	}
	// Search Results
	.woocommerce-products-header__title.page-title{
		font-size: calc(2.5rem - 30%);	
	}
	.navbar.mobile .free-delivery .del-msg{
		display: none;
	}
}
@media only screen and (max-width: 325px){
	#wrapper-footer [class*=' col-'] li h5{
		font-size: 1.2rem;
	}
}